**/*.map
**/*.py
**/*.ts
**/*.txt
**/*.svg
**/tsconfig.json

.vscode-test/**
.vscode/**

client/**
!client/out/extension.js

server/**
!server/out/server.js
!server/out/tree-sitter.wasm
!server/tree-sitter-intens.wasm

tree-sitter-intens/**
tests/**

.eslintignore
.gitignore
.prettierignore
shared.webpack.config.js
vsc-extension-quickstart.md
